*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: bisque;
}
.main-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    
    
    
    
}

.image-container{
    flex: auto;
    width: 100%;
    height: 100%;
    position: relative;
    
    
    
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,  rgb(0, 0, 0) 0%, rgba(233, 233, 233, 0) 70%);
}



.cheese-image{
    width: 40vw;
    height: 100%;
    
    
}

.form-container{
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: black;
    
    
    
    

}

.form{
    display: flex;
    height: 20vh;
    width: 60vw;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 2vw;
    box-shadow: 2px;
    padding-top: 20px;
    background: linear-gradient(to right,  rgb(0, 0, 0) 0%, rgba(233, 233, 233, 0) 100%);
    background-color: rgb(39, 37, 37);
    color: white;
    
    
    
    
}


.top-paragraph{
    height: 30vh;
   
    
    padding-left: 2vw;
    padding-top: 2vw;
    background-color: black;
    color: white;
}

.top-paragraph p{
    
    font-size: 1.5rem;
    width: 50vw;
    margin-top: 8vh;
    padding: 0;
}

.last-paragraph{
    background-color: black;
    height: 50vh;
    color: white;
    padding-left: 2vw;
}

.last-paragraph button{
    width: 10vw;
    height: 5vh;
    background-color: black;
    border-color: bisque;
    
    font-size: 1.5rem;
    border-radius: 20px;
    
}

.last-paragraph p{
    margin-top: 3vh;
}
.columns{
    display: flex;
    
    width: 60vw;
    gap: 1.5vw;

    
}

.col-1,.col-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25vw;
    
    
}

.title-background{
    background-color: black;
    opacity: 60%;
    
    width: 100%;
    height: 12rem;
    position: absolute;
    top: 12vh;
    color: white;
    
    font-size: 6rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.title-background p{
    font-family: "Aboreto";
}






